
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Catamaran', sans-serif;
}

.img{
    width: 100%;
}

.container{
    width: 70%; 
    margin: auto;
    position: relative;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* HEADER */

/* top header */



.top_header{
    background-color: #255EE9;
    line-height: 100px;
}

.col_logo,.col_menu,.col_btn{
    float: left;
}

.col_img,.col_btn{
    width: 10%;
}

.col_logo img{
    vertical-align: middle;
}

.col_menu{
    width: 80%;
    text-align: center;
}

.btn_top{
    line-height: 100px;
    display: inline;
}

.col_menu ul li{
    list-style: none;
    display: inline-block;
}

.col_menu ul li a{
    margin: 0px 20px;
    text-decoration: none;
    color: white;
}

/* bot header */

.bot_header{
    background-image: url(../img/jumbo.png);
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
}

.content{
    color: white;
    padding: 20%;
    text-align: center;
}

.content h2{
    font-size: 60px;
    font-weight: 800;
    padding: 20px;
}

.content p{
    font-size: 20px;
    line-height: 30px;
}

.btn_head{
    display: inline-block;
    margin: 30px;
}

/* MAIN */

.photo_group,.text_box,.photo_group_second,.photo_group_third,.text_box_second,.text_box_third{
    display: inline-block;
    padding: 80px;
}

.photo_group,.photo_group_third{
    float: left;
    width: 65%;
}

.photo_group_second{
    float: right;
    width: 65%;
}

.text_box,.text_box_third{
    width: 35%;
    padding: 120px 80px;
}

.text_box_second{
    width: 35%;
    padding: 120px 80px;
}

.text_box h3,.text_box_third h3,.text_box_second h3,.text_box_fourth h3{
    font-size: 50px;
    line-height: 60px;
}

.text{
    font-size: 20px
}

.photo_group,.text_box,.photo_group_third,.text_box_third{
    display: inline-block;
}

.fourth{
    text-align: center;
}

.end{
    text-align: center;
    margin-bottom: 150px;
}

.end h4{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    font-size: 40px;
    display: inline-block;
}

.btn_end {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 100px;
}

.entry,.finish{
    width: 100%;
}

.entry img{
    position: relative;
    top: 10px;
}

.finish img{
    position: relative;
    bottom: 5px;
}

.second,.fourth{
    background-color: #F6F6F6;
}

.photo_group .second{
    float: right;
}

.text_box .second{
    float: left;
}

/* FOOTER */
footer{
    background-color: #23272A;
}

/* footer top */
.footer_top li{
    list-style: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.footer_top{
    padding-top: 30px;
}

.col_main{
    width: 30%;
    margin-right: 10%;
    padding-right: 10%;
}

.col_main span{
    color: white;
}

.col li a{
    text-decoration: none;
    color: white;
}

.col{
    width: 12%;
    margin: 0 1.5%;
}

.col h5{
    color: #8EA1E1;
    font-size: 20px;
    font-weight: 800;
}

.col,.col_main{
    float: left;
}

.col_main h4{
    font-size: 40px;
    color: #8EA1E1;
}

.col_main img{
    height: 15px;
}

.social i{
    color: white;
    margin: 10px;
}

/* line */

.line{
    border: 1px solid #8EA1E1; 
    margin: 30px 0;
}

/* footer bottom */

.footer_bot{
    padding: 20px 0px 100px;
}

.footer_bot .btn{
    float: right;
}

/* BUTTONS */

.btn_small{
    border-radius: 20px;
    padding: 7px 20px;
    font-size: 15px;
    font-weight: 700;
}

.btn_blue{
    background-color:#8EA1E1;
}

.btn_blue a{
    text-decoration: none;
    color: white;
}

.btn_large{
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 30px;
}

.btn_white{
    background-color: white;
}

.btn_white a{
    color: black;
    text-decoration: none;
}

.btn_black a{
    text-decoration: none;
    color: white;
}

.btn_black{
    background-color:#23272A ;
}